{% extends 'base.html.twig' %}

{% block body %}


    <a href="{{ path('category_index') }}" class="btn btn-info">
        Categories
    </a>

    <a href="{{ path('blog_index') }}" class="btn btn-info">
        Blogs
    </a>


{% endblock %}
