{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blog creation</h1>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br/>
    <input type="submit" value="Create" class="btn btn-info"/>
    {{ form_end(form) }}

    <hr/>
    <ul class="list-unstyled list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('blog_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
